body {
    min-width: 500px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
h1 {
    text-align: center;
}
#wrapper tr:nth-child(even) {background: #CCC}
#wrapper tr:nth-child(odd) {background: #FFF}
#wrapper td {
    padding: 0 10px;
    height: 72px;
}
#wrapper td:first-child {
    padding: 0;
}
#wrapper td img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
#wrapper {
margin-left: 20px;
}
#wrapper td , #wrapper th {
    cursor: pointer;
}

select {
    margin-left: 20px;
}

 .popup{
    position:absolute;
    border-radius: 5px;
    min-width:200px;
    min-height: 400px;
    height:45%;
    padding:10px;
    background-color:rgb(240,240,240);
    border:5px solid grey;
    z-index:999;
    top: 50%;
    left: 35%;
    margin-left: 0;
    position: fixed;
    margin-top: -250px;
    }
.popup td {
    padding: 10px;
    margin: 0;
}
.cancel{
    position:absolute;
    right: 1%;
    top: 1%;
    margin: 0;
    cursor:pointer; 
    height:10px;
    width:14px;
    font-weight:bold;
    color:red;
    z-index:999;
    }


